* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.outline-none {
  outline: none;
}
.text-turquiose {
  color: turquoise;
}
table.border td,
table.border th {
  border: 1px solid !important;
}
table.lined tbody tr:nth-child(odd) {
  background-color: #ddd;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .special-sticky {
    position: sticky;
    min-height: 100vh;
  }
}
